html, body {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	margin: 0;
	padding: 8px;
	box-sizing: border-box;
	display: flex;
  	flex-direction: column;
}

.status-text, .status-text-no-width {
	color: white;
	font-size: larger;
	font-family: "Roboto",Helvetica,"Trebuchet MS",Verdana,sans-serif;
}

.status-text {
	padding-top: 1em;
	width: 250px;
}

.status-text-small, .status-text-small-no-width {
	text-align: center;
	color: white;
	font-size: 14px;
	font-family: "Roboto",Helvetica,"Trebuchet MS",Verdana,sans-serif;
}

.status-text-small {
	padding-top: 1em;
	width: 250px;
}

a:visited {
	color: chocolate;
}

a:link {
	color: cornflowerblue;
}

.active {
	color: red;
	font-size: x-large;
}